TAGS
*.swp
*~
*.o
*.log
*.vcd
*.xml
*.dbg
*.wlf
*.elf
*.hex
*.map
*.out
*.json
.build-rtl
.lib-rtl
.opt-rtl
/build
/Bender.lock
/Bender.local
golden.src
revised.src
cadence_conformal
golden_reference_design
synopsys_formality
questa_autocheck
