TAGS
*.swp
*~
*.o
*.log
*.vcd
*.xml
*.dbg
*.wlf
*.elf
*.hex
*.map
*.out
*.json
*.fsdb
*.zip
*.key
.build-rtl
.lib-rtl
.opt-rtl
/build
/Bender.lock
/Bender.local
/example_tb/core/simv.daidir
/sim/csrc
/sim/simv.daidir
/syn/alib-52
simv
golden_reference_design
ref_design
golden.src
revised.src
cadence_conformal
synopsys_formality
questa_autocheck
reports
